In [211]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn.impute import SimpleImputer

In [212]:
import pyreadstat
demo,meta = pyreadstat.read_xport("DEMO_I.XPT")
demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,...,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,...,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,...,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23

In [213]:
import pyreadstat
smoke,meta = pyreadstat.read_xport("SMQ_I.XPT")
smoke.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD055,SMD057,SMQ078,SMD641,...,SMQ930,SMQ935,SMQ080,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,83732.0,1.0,22.0,3.0,22.0,4.0,40.0,20.0,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,0.0,1.0
1,83733.0,1.0,20.0,1.0,NaN,NaN,NaN,NaN,2.0,30.0,...,NaN,NaN,NaN,1.0,30.0,2.0,NaN,2.0,NaN,1.0
2,83734.0,1.0,14.0,3.0,16.0,4.0,61.0,30.0,NaN,NaN,...,NaN,NaN,NaN,1.0,0.0,2.0,NaN,1.0,0.0,1.0
3,83735.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,3.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0
4,83736.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,7.0,2.0,NaN,2.0,NaN,1.0

In [214]:
'''import pyreadstat
df, meta = pyreadstat.read_xport("DIQ_I.XPT")
print(df.head())'''

'import pyreadstat\ndf, meta = pyreadstat.read_xport("DIQ_I.XPT")\nprint(df.head())'

In [215]:
import pyreadstat
chol, meta = pyreadstat.read_xport("TCHOL_I.XPT")
chol.head()

      SEQN  LBXTC  LBDTCSI
0  83732.0  173.0     4.47
1  83733.0  265.0     6.85
2  83734.0  229.0     5.92
3  83735.0  174.0     4.50
4  83736.0  204.0     5.28

In [216]:
import pyreadstat
bp, meta = pyreadstat.read_xport("BPX_I.XPT")
bp.head()

,SEQN,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,BPXML1,BPXSY1,...,BPAEN1,BPXSY2,BPXDI2,BPAEN2,BPXSY3,BPXDI3,BPAEN3,BPXSY4,BPXDI4,BPAEN4
0,83732.0,NaN,NaN,1.0,4.0,76.0,1.0,1.0,150.0,128.0,...,2.0,124.0,64.0,2.0,116.0,62.0,2.0,NaN,NaN,NaN
1,83733.0,NaN,NaN,1.0,4.0,72.0,1.0,1.0,170.0,146.0,...,2.0,140.0,88.0,2.0,134.0,82.0,2.0,NaN,NaN,NaN
2,83734.0,NaN,NaN,1.0,4.0,56.0,1.0,1.0,160.0,138.0,...,2.0,132.0,44.0,2.0,136.0,46.0,2.0,NaN,NaN,NaN
3,83735.0,NaN,NaN,1.0,5.0,78.0,1.0,1.0,150.0,132.0,...,2.0,134.0,68.0,2.0,136.0,70.0,2.0,NaN,NaN,NaN
4,83736.0,NaN,NaN,1.0,3.0,76.0,1.0,1.0,130.0,100.0,...,2.0,114.0,54.0,2.0,98.0,56.0,2.0,NaN,NaN,NaN

In [217]:
import pyreadstat
body, meta = pyreadstat.read_xport("BMX_I.XPT")
body.head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXSAD1,BMXSAD2,BMXSAD3,BMXSAD4,BMDAVSAD,BMDSADCM
0,83732.0,1.0,94.8,NaN,NaN,NaN,NaN,NaN,184.5,NaN,...,35.9,NaN,101.1,NaN,22.9,22.7,NaN,NaN,22.8,NaN
1,83733.0,1.0,90.4,NaN,NaN,NaN,NaN,NaN,171.4,NaN,...,33.2,NaN,107.9,NaN,27.5,27.1,NaN,NaN,27.3,NaN
2,83734.0,1.0,83.4,NaN,NaN,NaN,NaN,NaN,170.1,NaN,...,31.0,NaN,116.5,NaN,26.7,26.5,NaN,NaN,26.6,NaN
3,83735.0,1.0,109.8,NaN,NaN,NaN,NaN,NaN,160.9,NaN,...,38.3,NaN,110.1,NaN,25.2,25.0,NaN,NaN,25.1,NaN
4,83736.0,3.0,55.2,NaN,NaN,NaN,NaN,NaN,164.9,NaN,...,27.2,NaN,80.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
import pyreadstat
dietary, meta = pyreadstat.read_xport("DR1IFF_I.XPT")
dietary.head()

,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
0,83732.0,92670.699919,69945.934107,1.0,1.0,71.0,2.0,2.0,-1.0,1.0,...,0.000,0.000,0.0,0.007,0.000,0.0,0.0,0.0,0.0,0.0
1,83732.0,92670.699919,69945.934107,2.0,1.0,71.0,2.0,2.0,-1.0,1.0,...,0.000,0.000,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
2,83732.0,92670.699919,69945.934107,3.0,1.0,71.0,2.0,2.0,-1.0,1.0,...,0.383,0.001,0.0,0.015,0.001,0.0,0.0,0.0,0.0,0.0
3,83732.0,92670.699919,69945.934107,4.0,1.0,71.0,2.0,2.0,-1.0,1.0,...,0.000,0.000,0.0,0.000,0.000,0.0,0.0,0.0,0.0,0.0
4,83732.0,92670.699919,69945.934107,5.0,1.0,71.0,2.0,2.0,-1.0,1.0,...,0.566,0.004,0.0,1.401,0.165,0.0,0.0,0.0,0.0,0.0

In [219]:
diet_agg = dietary.groupby("SEQN").agg({
    "DR1IKCAL": "sum",
    "DR1IPROT": "sum",
    "DR1ICARB": "sum",
    "DR1ITFAT": "sum"
}).reset_index()

In [220]:
import pyreadstat
glucose, meta = pyreadstat.read_xport("GLU_I.XPT")
glucose.head()

      SEQN       WTSAF2YR  LBXGLU  LBDGLUSI
0  83733.0   54722.343330   101.0      5.59
1  83734.0   25471.093699    84.0      4.66
2  83736.0   38179.510870    84.0      4.66
3  83737.0   25800.845631   107.0      5.93
4  83741.0  108751.289086    95.0      5.27

In [221]:
import pyreadstat
urine, meta = pyreadstat.read_xport("ALB_CR_I.XPT")
urine.head()

      SEQN  URXUMA  URDUMALC  URXUMS  URXUCR  URDUCRLC   URXCRS  URDACT
0  83732.0     2.5       0.0     2.5    41.0       0.0   3624.4    6.10
1  83733.0    23.2       0.0    23.2   181.0       0.0  16000.4   12.82
2  83734.0   105.0       0.0   105.0    70.0       0.0   6188.0  150.00
3  83735.0     5.8       0.0     5.8   102.0       0.0   9016.8    5.69
4  83736.0    47.6       0.0    47.6   315.0       0.0  27846.0   15.11

In [222]:
import pyreadstat
chol_HDD, meta = pyreadstat.read_xport("HDL_I.XPT")
chol_HDD.head()

      SEQN  LBDHDD  LBDHDDSI
0  83732.0    46.0      1.19
1  83733.0    63.0      1.63
2  83734.0    30.0      0.78
3  83735.0    61.0      1.58
4  83736.0    53.0      1.37

In [223]:
import pyreadstat
chol_LDL, meta = pyreadstat.read_xport("TRIGLY_I.XPT")
chol_LDL.head()

      SEQN       WTSAF2YR  LBXTR  LBDTRSI  LBDLDL  LBDLDLSI
0  83733.0   54722.343330  147.0    1.660   173.0     4.474
1  83734.0   25471.093699  269.0    3.037   145.0     3.750
2  83736.0   38179.510870   47.0    0.531   142.0     3.672
3  83737.0   25800.845631   46.0    0.519   103.0     2.664
4  83741.0  108751.289086   68.0    0.768   102.0     2.638

In [224]:
merged = (
    demo[['SEQN', 'RIDAGEYR', 'RIAGENDR', 'RIDRETH3', 'DMDEDUC2', 'INDFMIN2']]
    .merge(body[['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI']], on='SEQN', how='left')
    .merge(bp[['SEQN', 'BPXSY1', 'BPXDI1', 'BPXPLS']], on='SEQN', how='left')
    .merge(chol[['SEQN', 'LBXTC']], on='SEQN', how='left')
    .merge(chol_HDD[['SEQN', 'LBDHDD']], on='SEQN', how='left')
    .merge(glucose[['SEQN', 'LBXGLU']], on='SEQN', how='left')   
    .merge(chol_LDL[['SEQN','LBDLDL']], on='SEQN', how='left')
    .merge(urine[['SEQN','URDACT']], on='SEQN', how='left')
    .merge(smoke[['SEQN', 'SMQ020', 'SMD641']], on='SEQN', how='left')
    .merge(diet_agg[['SEQN', 'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ITFAT']], on='SEQN', how='left')
    
)

In [225]:
merged.head()

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH3,DMDEDUC2,INDFMIN2,BMXWT,BMXHT,BMXBMI,BPXSY1,...,LBDHDD,LBXGLU,LBDLDL,URDACT,SMQ020,SMD641,DR1IKCAL,DR1IPROT,DR1ICARB,DR1ITFAT
0,83732.0,62.0,1.0,3.0,5.0,10.0,94.8,184.5,27.8,128.0,...,46.0,NaN,NaN,6.10,1.0,NaN,1781.0,76.03,193.29,79.24
1,83733.0,53.0,1.0,3.0,3.0,4.0,90.4,171.4,30.8,146.0,...,63.0,101.0,173.0,12.82,1.0,30.0,2964.0,62.36,356.85,77.91
2,83734.0,78.0,1.0,3.0,3.0,5.0,83.4,170.1,28.8,138.0,...,30.0,84.0,145.0,150.00,1.0,NaN,2482.0,116.50,304.53,91.97
3,83735.0,56.0,2.0,3.0,5.0,10.0,109.8,160.9,42.4,132.0,...,61.0,NaN,NaN,5.69,2.0,NaN,1340.0,70.38,157.99,49.23
4,83736.0,42.0,2.0,4.0,4.0,7.0,55.2,164.9,20.3,100.0,...,53.0,84.0,142.0,15.11,2.0,NaN,604.0,19.30,90.30,19.63

In [226]:
df = merged.rename(columns = {
    'RIDAGEYR':'Age',
    'RIAGENDR':'Gender',
    'RIDRETH3':'Ethnicity',
    'DMDEDUC2':'Education',
    'INDFMIN2': 'Income',
    'BMXWT': 'Weight',
    'BMXHT': 'Height',
    'BMXBMI': 'BMI',
    'BPXSY1' : 'Systolic bp',
    'BPXDI1' : 'Diastolic bp',
    'BPXPLS' : 'Pulse',
    'LBXTC' : 'cholesterol',
    'LBDHDD' : 'High cholesterol',
    'LBDLDL' : 'Low cholesterol',
    'URDACT' : 'Albumin_creatinine_ratio',
    'DR1IKCAL':'kcal',
    'DR1IPROT' : 'Protin',
    'DR1ITFAT' : 'Fat',
    'DR1ICARB' : 'Carb',
    'LBXGLU' : 'Glucose',
    'SMQ020': 'smoking status',
    'SMD641': 'Cigerette_last_30_days'
})

In [227]:
df.head()

,SEQN,Age,Gender,Ethnicity,Education,Income,Weight,Height,BMI,Systolic bp,...,High cholesterol,Glucose,Low cholesterol,Albumin_creatinine_ratio,smoking status,Cigerette_last_30_days,kcal,Protin,Carb,Fat
0,83732.0,62.0,1.0,3.0,5.0,10.0,94.8,184.5,27.8,128.0,...,46.0,NaN,NaN,6.10,1.0,NaN,1781.0,76.03,193.29,79.24
1,83733.0,53.0,1.0,3.0,3.0,4.0,90.4,171.4,30.8,146.0,...,63.0,101.0,173.0,12.82,1.0,30.0,2964.0,62.36,356.85,77.91
2,83734.0,78.0,1.0,3.0,3.0,5.0,83.4,170.1,28.8,138.0,...,30.0,84.0,145.0,150.00,1.0,NaN,2482.0,116.50,304.53,91.97
3,83735.0,56.0,2.0,3.0,5.0,10.0,109.8,160.9,42.4,132.0,...,61.0,NaN,NaN,5.69,2.0,NaN,1340.0,70.38,157.99,49.23
4,83736.0,42.0,2.0,4.0,4.0,7.0,55.2,164.9,20.3,100.0,...,53.0,84.0,142.0,15.11,2.0,NaN,604.0,19.30,90.30,19.63

In [228]:
'''df['Gender'] = df['Gender'].map({
    1.0:'Male',
    2.0:'Female'
})

df['Ethnicity'] = df['Ethnicity'].map({
    1 :'Mexican American',	
    2 :'Other Hispanic'	,	
    3 :'Non-Hispanic White',		
    4 :'Non-Hispanic Black',		
    6 :'Non-Hispanic Asian',		
    7 :'Other Race'
})

df['Education'] = df['Education'].map({
    1 :	'Less than 9th grade',
    2 :	'9-11th grade',
    3 : 'High school graduate',
    4 :	'Some college', 
    5 :	'College graduate', 
    7 :	'Refused',		
    9 :	'Do not Know',
    '.' :'Missing'
})

df['Income'] = df['Income'].map({
    1 : '$ 0 to $ 4,999',
    2 :	'$ 5,000 to $ 9,999',
    3 :	'$10,000 to $14,999',
    4 :	'$15,000 to $19,999',		
    5 :	'$20,000 to $24,999',		
    6 :	'$25,000 to $34,999',		
    7 :	'$35,000 to $44,999',		
    8 :	'$45,000 to $54,999',		
    9 :	'$55,000 to $64,999',		
    10:	'$65,000 to $74,999',	
    12:	'$20,000 and Over',		
    13:	'Under $20,000',		
    14:	'$75,000 to $99,999',		
    15:	'$100,000 and Over',		
    77:	'Refused',
    99:	'Do not know',		
    '.': 'Missing'
    })'''

"df['Gender'] = df['Gender'].map({\n    1.0:'Male',\n    2.0:'Female'\n})\n\ndf['Ethnicity'] = df['Ethnicity'].map({\n    1 :'Mexican American',\t\n    2 :'Other Hispanic'\t,\t\n    3 :'Non-Hispanic White',\t\t\n    4 :'Non-Hispanic Black',\t\t\n    6 :'Non-Hispanic Asian',\t\t\n    7 :'Other Race'\n})\n\ndf['Education'] = df['Education'].map({\n    1 :\t'Less than 9th grade',\n    2 :\t'9-11th grade',\n    3 : 'High school graduate',\n    4 :\t'Some college', \n    5 :\t'College graduate', \n    7 :\t'Refused',\t\t\n    9 :\t'Do not Know',\n    '.' :'Missing'\n})\n\ndf['Income'] = df['Income'].map({\n    1 : '$ 0 to $ 4,999',\n    2 :\t'$ 5,000 to $ 9,999',\n    3 :\t'$10,000 to $14,999',\n    4 :\t'$15,000 to $19,999',\t\t\n    5 :\t'$20,000 to $24,999',\t\t\n    6 :\t'$25,000 to $34,999',\t\t\n    7 :\t'$35,000 to $44,999',\t\t\n    8 :\t'$45,000 to $54,999',\t\t\n    9 :\t'$55,000 to $64,999',\t\t\n    10:\t'$65,000 to $74,999',\t\n    12:\t'$20,000 and Over',\t\t\n    13:\t'Under $20,000',\t\t\n    14:\t'$75,000 to $99,999',\t\t\n    15:\t'$100,000 and Over',\t\t\n    77:\t'Refused',\n    99:\t'Do not know',\t\t\n    '.': 'Missing'\n    })"

In [229]:
#df.head()

In [230]:
df.shape

(9971, 23)

In [231]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9971 entries, 0 to 9970
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      9971 non-null   float64
 1   Age                       9971 non-null   float64
 2   Gender                    9971 non-null   float64
 3   Ethnicity                 9971 non-null   float64
 4   Education                 5719 non-null   float64
 5   Income                    9642 non-null   float64
 6   Weight                    9445 non-null   float64
 7   Height                    8769 non-null   float64
 8   BMI                       8756 non-null   float64
 9   Systolic bp               7145 non-null   float64
 10  Diastolic bp              7145 non-null   float64
 11  Pulse                     7376 non-null   float64
 12  cholesterol               7256 non-null   float64
 13  High cholesterol          7256 non-null   float64
 14  Glucose                   2972 non-null   float64
 15  Low cholesterol           2699 non-null   float64
 16  Albumin_creatinine_ratio  8280 non-null   float64
 17  smoking status            5992 non-null   float64
 18  Cigerette_last_30_days    1162 non-null   float64
 19  kcal                      8505 non-null   float64
 20  Protin                    8505 non-null   float64
 21  Carb                      8505 non-null   float64
 22  Fat                       8505 non-null   float64
dtypes: float64(23)
memory usage: 1.7 MB

In [232]:
df.isnull().sum()*0.01

SEQN                         0.00
Age                          0.00
Gender                       0.00
Ethnicity                    0.00
Education                   42.52
Income                       3.29
Weight                       5.26
Height                      12.02
BMI                         12.15
Systolic bp                 28.26
Diastolic bp                28.26
Pulse                       25.95
cholesterol                 27.15
High cholesterol            27.15
Glucose                     69.99
Low cholesterol             72.72
Albumin_creatinine_ratio    16.91
smoking status              39.79
Cigerette_last_30_days      88.09
kcal                        14.66
Protin                      14.66
Carb                        14.66
Fat                         14.66
dtype: float64

In [233]:
df['Ethnicity'].value_counts()

Ethnicity
3.0    3066
4.0    2129
1.0    1921
2.0    1308
6.0    1042
7.0     505
Name: count, dtype: int64

In [234]:
df['Income'].value_counts()

Income
15.0    1548
6.0     1038
7.0      934
14.0     885
8.0      801
5.0      646
9.0      620
4.0      618
3.0      584
10.0     474
2.0      426
1.0      345
77.0     222
12.0     221
13.0     148
99.0     132
Name: count, dtype: int64

In [235]:
import pandas as pd

num_cols = df.select_dtypes(include='float64').columns
skew_values = df[num_cols].skew().sort_values(ascending=False)
skew_values

Albumin_creatinine_ratio    33.704854
Income                       4.434669
Glucose                      4.333001
smoking status               3.151306
Fat                          1.544169
Protin                       1.536727
kcal                         1.258696
Carb                         1.240573
Systolic bp                  1.070372
High cholesterol             1.046750
cholesterol                  0.896382
BMI                          0.859083
Low cholesterol              0.638844
Ethnicity                    0.589184
Pulse                        0.564961
Age                          0.420322
Weight                       0.126277
SEQN                         0.000000
Gender                      -0.037521
Education                   -0.427383
Cigerette_last_30_days      -0.569048
Diastolic bp                -0.741859
Height                      -1.241887
dtype: float64

In [236]:
df.columns

Index(['SEQN', 'Age', 'Gender', 'Ethnicity', 'Education', 'Income', 'Weight',
       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',
       'High cholesterol', 'Glucose', 'Low cholesterol',
       'Albumin_creatinine_ratio', 'smoking status', 'Cigerette_last_30_days',
       'kcal', 'Protin', 'Carb', 'Fat'],
      dtype='object')

In [237]:
df['smoking status'].value_counts()

smoking status
2.0    3559
1.0    2422
9.0       9
7.0       2
Name: count, dtype: int64

In [238]:
# Replace special coded value

df[['Education','smoking status']]= df[['Education','smoking status']].replace({7: np.nan, 9: np.nan, '.' : np.nan})
df[['Income','Cigerette_last_30_days']] = df[['Income','Cigerette_last_30_days']].replace({77: np.nan, 99:np.nan , '.':np.nan})

In [239]:
# Handling missing values
columns_mean=['Age','Weight']
columns_median = ['Height','BMI','Systolic bp','Diastolic bp','Pulse','cholesterol','High cholesterol', 'Glucose', 'Low cholesterol','Albumin_creatinine_ratio','kcal','Protin','Carb','Fat','Cigerette_last_30_days']
#categorical_columns =['Education','smoking status','Income','Gender']
df[columns_median] = df[columns_median].fillna(df[columns_median].median())
df[columns_mean] = df[columns_mean].fillna(df[columns_mean].mean())
#df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode())

In [240]:
df.head()

,SEQN,Age,Gender,Ethnicity,Education,Income,Weight,Height,BMI,Systolic bp,...,High cholesterol,Glucose,Low cholesterol,Albumin_creatinine_ratio,smoking status,Cigerette_last_30_days,kcal,Protin,Carb,Fat
0,83732.0,62.0,1.0,3.0,5.0,10.0,94.8,184.5,27.8,128.0,...,46.0,101.0,104.0,6.10,1.0,30.0,1781.0,76.03,193.29,79.24
1,83733.0,53.0,1.0,3.0,3.0,4.0,90.4,171.4,30.8,146.0,...,63.0,101.0,173.0,12.82,1.0,30.0,2964.0,62.36,356.85,77.91
2,83734.0,78.0,1.0,3.0,3.0,5.0,83.4,170.1,28.8,138.0,...,30.0,84.0,145.0,150.00,1.0,30.0,2482.0,116.50,304.53,91.97
3,83735.0,56.0,2.0,3.0,5.0,10.0,109.8,160.9,42.4,132.0,...,61.0,101.0,104.0,5.69,2.0,30.0,1340.0,70.38,157.99,49.23
4,83736.0,42.0,2.0,4.0,4.0,7.0,55.2,164.9,20.3,100.0,...,53.0,84.0,142.0,15.11,2.0,30.0,604.0,19.30,90.30,19.63

In [241]:
categorical_columns =['Education','smoking status','Income','Gender','Ethnicity']
df[categorical_columns] = df[categorical_columns].astype('category')
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

In [242]:
df.head()

,SEQN,Age,Gender,Ethnicity,Education,Income,Weight,Height,BMI,Systolic bp,...,High cholesterol,Glucose,Low cholesterol,Albumin_creatinine_ratio,smoking status,Cigerette_last_30_days,kcal,Protin,Carb,Fat
0,83732.0,62.0,1.0,3.0,5.0,10.0,94.8,184.5,27.8,128.0,...,46.0,101.0,104.0,6.10,1.0,30.0,1781.0,76.03,193.29,79.24
1,83733.0,53.0,1.0,3.0,3.0,4.0,90.4,171.4,30.8,146.0,...,63.0,101.0,173.0,12.82,1.0,30.0,2964.0,62.36,356.85,77.91
2,83734.0,78.0,1.0,3.0,3.0,5.0,83.4,170.1,28.8,138.0,...,30.0,84.0,145.0,150.00,1.0,30.0,2482.0,116.50,304.53,91.97
3,83735.0,56.0,2.0,3.0,5.0,10.0,109.8,160.9,42.4,132.0,...,61.0,101.0,104.0,5.69,2.0,30.0,1340.0,70.38,157.99,49.23
4,83736.0,42.0,2.0,4.0,4.0,7.0,55.2,164.9,20.3,100.0,...,53.0,84.0,142.0,15.11,2.0,30.0,604.0,19.30,90.30,19.63

In [243]:
df.isnull().sum()

SEQN                        0
Age                         0
Gender                      0
Ethnicity                   0
Education                   0
Income                      0
Weight                      0
Height                      0
BMI                         0
Systolic bp                 0
Diastolic bp                0
Pulse                       0
cholesterol                 0
High cholesterol            0
Glucose                     0
Low cholesterol             0
Albumin_creatinine_ratio    0
smoking status              0
Cigerette_last_30_days      0
kcal                        0
Protin                      0
Carb                        0
Fat                         0
dtype: int64

In [244]:
df = df.drop(columns = 'SEQN')

In [245]:
df['diabetes_risk']     = (df['Glucose'] > 126).astype(int)
df['hypertension_risk'] = (df['Systolic bp'] > 140).astype(int)
df['cholesterol_risk']  = (df['cholesterol'] > 200).astype(int)
df['kidney_risk']       = (df['Albumin_creatinine_ratio'] > 30).astype(int)
df['obesity_risk'] = (df['BMI'] >= 30).astype(int)
df['hdl_risk'] = (df['High cholesterol'] < 40).astype(int)
df['ldl_risk'] = (df['Low cholesterol'] >= 130).astype(int)
df['heart_disease_risk'] = (
    df['hypertension_risk'] |
    df['ldl_risk'] |
    df['hdl_risk'] |
    df['cholesterol_risk'] |
    df['diabetes_risk'] |
    df['obesity_risk']
).astype(int)

In [246]:
y_dict = {
    "diabetes": df['diabetes_risk'],
    "hypertension": df['hypertension_risk'],
    "cholesterol": df['cholesterol_risk'],
    "kidney": df['kidney_risk'],
    "obesity": df['obesity_risk'],
    "hdl": df['hdl_risk'],
    "ldl": df['ldl_risk'],
    "heart": df['heart_disease_risk']
}

In [247]:
oe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_array = oe.fit_transform(df[['Education','smoking status','Gender','Income','Ethnicity']])
encoded_df = pd.DataFrame(encoded_array,columns= oe.get_feature_names_out(['Education','smoking status','Gender','Income','Ethnicity']))
df = pd.concat([df,encoded_df],axis = 1)

In [248]:
# Base features (excluding direct target-creating features)
base_features = [
    'Age','Gender','Ethnicity','Education','Income',
    'Weight','Height','BMI','Pulse',
    'smoking status','Cigerette_last_30_days',
    'kcal','Protin','Carb','Fat'
]
encoded_columns = oe.get_feature_names_out(['Education','smoking status','Gender','Income','Ethnicity'])

# Create separate feature sets for each target, excluding the direct feature that creates it
# This prevents the model from learning the exact rule and forces it to use other correlated features

X_dict = {
    "diabetes": base_features + ['Systolic bp','Diastolic bp','Pulse',
                                  'cholesterol','High cholesterol','Low cholesterol',
                                  'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'Glucose' (directly creates diabetes_risk)
    
    "hypertension": base_features + ['Glucose','cholesterol','High cholesterol','Low cholesterol',
                                     'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'Systolic bp', 'Diastolic bp' (directly create hypertension_risk)
    
    "cholesterol": base_features + ['Systolic bp','Diastolic bp','Glucose',
                                    'High cholesterol','Low cholesterol',
                                    'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'cholesterol' (directly creates cholesterol_risk)
    
    "kidney": base_features + ['Systolic bp','Diastolic bp','Glucose',
                               'cholesterol','High cholesterol','Low cholesterol'] + list(encoded_columns),
    # Excluded: 'Albumin_creatinine_ratio' (directly creates kidney_risk)
    
    "obesity": base_features + ['Systolic bp','Diastolic bp','Glucose',
                                'cholesterol','High cholesterol','Low cholesterol',
                                'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'BMI' (directly creates obesity_risk)
    
    "hdl": base_features + ['Systolic bp','Diastolic bp','Glucose',
                            'cholesterol','Low cholesterol',
                            'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'High cholesterol' (directly creates hdl_risk)
    
    "ldl": base_features + ['Systolic bp','Diastolic bp','Glucose',
                            'cholesterol','High cholesterol',
                            'Albumin_creatinine_ratio'] + list(encoded_columns),
    # Excluded: 'Low cholesterol' (directly creates ldl_risk)
    
    "heart": base_features + ['Glucose','cholesterol','High cholesterol','Low cholesterol',
                              'Albumin_creatinine_ratio'] + list(encoded_columns)
    # Excluded: 'Systolic bp', 'Diastolic bp', 'BMI' (used in heart_disease_risk calculation)
}

# Create X for each target
X_dict = {disease: df[features] for disease, features in X_dict.items()}

y_dict = {
    "diabetes": df['diabetes_risk'],
    "hypertension": df['hypertension_risk'],
    "cholesterol": df['cholesterol_risk'],
    "kidney": df['kidney_risk'],
    "obesity": df['obesity_risk'],
    "hdl": df['hdl_risk'],
    "ldl": df['ldl_risk'],
    "heart": df['heart_disease_risk']
}

In [249]:
from sklearn.model_selection import train_test_split

# Create train/test splits for each disease using its specific feature set
X_train_dict = {}
X_test_dict = {}
y_train_dict = {}
y_test_dict = {}

for disease in y_dict.keys():
    X = X_dict[disease]
    y = y_dict[disease]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    X_train_dict[disease] = X_train
    X_test_dict[disease] = X_test
    y_train_dict[disease] = y_train
    y_test_dict[disease] = y_test

In [250]:
y_test_dict[disease]

3355    0
2405    1
4373    0
107     0
9390    1
       ..
7089    0
4818    1
9895    0
2948    0
4848    1
Name: heart_disease_risk, Length: 1995, dtype: int64

In [251]:
df.head()

,Age,Gender,Ethnicity,Education,Income,Weight,Height,BMI,Systolic bp,Diastolic bp,...,Income_12.0,Income_13.0,Income_14.0,Income_15.0,Ethnicity_1.0,Ethnicity_2.0,Ethnicity_3.0,Ethnicity_4.0,Ethnicity_6.0,Ethnicity_7.0
0,62.0,1.0,3.0,5.0,10.0,94.8,184.5,27.8,128.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,53.0,1.0,3.0,3.0,4.0,90.4,171.4,30.8,146.0,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,78.0,1.0,3.0,3.0,5.0,83.4,170.1,28.8,138.0,46.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,56.0,2.0,3.0,5.0,10.0,109.8,160.9,42.4,132.0,72.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,42.0,2.0,4.0,4.0,7.0,55.2,164.9,20.3,100.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [252]:
'''from sklearn.model_selection import train_test_split

X_train, X_test, y_train_diabetes, y_test_diabetes = train_test_split(
    X, y_diabetes, test_size=0.2, random_state=42
)

_, _, y_train_hypertension, y_test_hypertension = train_test_split(
    X, y_hypertension, test_size=0.2, random_state=42
)

_, _, y_train_cholesterol, y_test_cholesterol = train_test_split(
    X, y_cholesterol, test_size=0.2, random_state=42
)

_, _, y_train_kidney, y_test_kidney = train_test_split(
    X, y_kidney, test_size=0.2, random_state=42
)

_, _, y_train_heart, y_test_heart = train_test_split(
    X, y_heart, test_size=0.2, random_state=42
)

_, _, y_train_obesity, y_test_obesity = train_test_split(
    X, y_obesity, test_size=0.2, random_state=42
)

_,_,y_train_ldl,y_test_ldl = train_test_split(
    X,y_ldl , test_size=0.2, random_state=42)

_,_,y_train_hdl,y_test_hdl = train_test_split(
    X,y_hdl , test_size=0.2, random_state=42)'''

'from sklearn.model_selection import train_test_split\n\nX_train, X_test, y_train_diabetes, y_test_diabetes = train_test_split(\n    X, y_diabetes, test_size=0.2, random_state=42\n)\n\n_, _, y_train_hypertension, y_test_hypertension = train_test_split(\n    X, y_hypertension, test_size=0.2, random_state=42\n)\n\n_, _, y_train_cholesterol, y_test_cholesterol = train_test_split(\n    X, y_cholesterol, test_size=0.2, random_state=42\n)\n\n_, _, y_train_kidney, y_test_kidney = train_test_split(\n    X, y_kidney, test_size=0.2, random_state=42\n)\n\n_, _, y_train_heart, y_test_heart = train_test_split(\n    X, y_heart, test_size=0.2, random_state=42\n)\n\n_, _, y_train_obesity, y_test_obesity = train_test_split(\n    X, y_obesity, test_size=0.2, random_state=42\n)\n\n_,_,y_train_ldl,y_test_ldl = train_test_split(\n    X,y_ldl , test_size=0.2, random_state=42)\n\n_,_,y_train_hdl,y_test_hdl = train_test_split(\n    X,y_hdl , test_size=0.2, random_state=42)'

In [253]:
# Scale features for each disease separately
scaler_dict = {}
X_train_scaled_dict = {}
X_test_scaled_dict = {}

for disease in y_dict.keys():
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train_dict[disease])
    X_test_scaled = scaler.transform(X_test_dict[disease])
    
    scaler_dict[disease] = scaler
    X_train_scaled_dict[disease] = X_train_scaled
    X_test_scaled_dict[disease] = X_test_scaled

In [254]:
from sklearn.ensemble import RandomForestClassifier

models = {}
for disease in y_dict.keys():
    model = RandomForestClassifier(n_estimators=300, random_state=42)
    model.fit(X_train_scaled_dict[disease], y_train_dict[disease])
    models[disease] = model

In [255]:
risk_scores = {}
for disease, model in models.items():
    risk_scores[disease] = model.predict_proba(X_test_scaled_dict[disease])[:, 1]

In [256]:
# Create results DataFrame with risk scores for all diseases
# Since each disease has different features, we'll just store the risk scores
results = pd.DataFrame()
for disease in risk_scores.keys():
    results[f'{disease}_risk'] = risk_scores[disease]

In [257]:
recommendation_db = {
    "hypertension": """
• Reduce salt intake below 2g/day.
• Walk 30–45 minutes daily.
• Avoid packaged foods, pickles, bakery items.
• Monitor BP twice a week.
• Increase potassium-rich foods (banana, coconut water).
• Control stress through meditation.
""",
    "diabetes": """
• Reduce refined carbs (maida, white rice).
• Eat small meals every 3–4 hours.
• Avoid sugary drinks, sweets, packaged juice.
• Walk 15 minutes after every meal.
• Increase fiber: oats, dal, vegetables.
• Monitor fasting blood glucose weekly.
""",
    "heart": """
• Avoid fried foods.
• Include omega-3 rich foods (flaxseed, fish).
• Do 30 min cardio exercise.
• Limit red meat and egg yolk.
• Manage stress with breathing exercises.
""",
    "obesity": """
• 500–700 kcal/day deficit diet.
• Avoid sugar, refined flour, fried items.
• Increase protein (dal, eggs, curd).
• Strength training 3x a week.
""",
    "cholesterol": """
• Avoid oily & fried foods.
• Increase soluble fiber (oats, apple, beans).
• Include nuts: almond, walnut.
• Exercise 30 mins daily.
""",
    "kidney": """
• Stay hydrated and drink 2–3L water daily.
• Reduce salt and processed foods.
• Avoid unnecessary painkillers.
• Monitor creatinine periodically.
""",
    "hdl": """
• Do aerobic exercise 30 mins.
• Include healthy fats: olive oil, peanuts, seeds.
• Avoid smoking.
""",
    "ldl": """
• Reduce saturated fat (ghee, butter).
• Add oats & fruits to breakfast.
• Consume garlic daily.
• Avoid fried food.
"""
}

In [258]:

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

vectorizer = TfidfVectorizer(stop_words='english')
rec_texts = list(recommendation_db.values())
rec_vectors = vectorizer.fit_transform(rec_texts)

def get_recommendations(patient_conditions):
    results = []
    for condition in patient_conditions:
        if condition in recommendation_db:
            results.append((condition, recommendation_db[condition]))
    return results

In [259]:
results

,diabetes_risk,hypertension_risk,cholesterol_risk,kidney_risk,obesity_risk,hdl_risk,ldl_risk,heart_risk
0,0.000000,0.000000,0.000000,0.013333,0.000000,0.000000,0.000000,0.000000
1,0.046667,0.050000,0.500000,0.036667,0.863333,0.350000,0.013333,0.976667
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.003333,0.030000,0.096667,0.000000,0.073333,0.000000,0.003333
4,0.073333,0.273333,0.330000,0.060000,0.930000,0.373333,0.103333,1.000000
...,...,...,...,...,...,...,...,...
1990,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1991,0.000000,0.010000,0.033333,0.100000,0.850000,0.133333,0.000000,0.956667
1992,0.000000,0.003333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1993,0.000000,0.003333,0.126667,0.063333,0.003333,0.063333,0.000000,0.033333
1994,0.050000,0.060000,0.103333,0.063333,0.970000,0.186667,0.023333,0.970000

In [260]:
threshold = 0.5

for idx in range(len(results)):
    detected_conditions = []
    
    for disease, probs in risk_scores.items():
        if probs[idx] >= threshold:
            detected_conditions.append(disease)
    
    if detected_conditions:
        recommendations = get_recommendations(detected_conditions)
        
        print(f"\nPatient {idx} - High Risk Conditions:")
        for cond, rec in recommendations:
            print(f"\nCondition: {cond}")
            print(rec)
            print("-"*40)

In [261]:
'''from sklearn.ensemble import RandomForestClassifier

diabetes_model = RandomForestClassifier(n_estimators=300, random_state=42)
diabetes_model.fit(X_train_scaled, y_train_diabetes)

hypertension_model = RandomForestClassifier(n_estimators=300, random_state=42)
hypertension_model.fit(X_train_scaled, y_train_hypertension)

chol_model = RandomForestClassifier(n_estimators=300, random_state=42)
chol_model.fit(X_train_scaled, y_train_cholesterol)

kidney_model = RandomForestClassifier(n_estimators=300, random_state=42)
kidney_model.fit(X_train_scaled, y_train_kidney)

heart_model = RandomForestClassifier(n_estimators=300, random_state=42)
heart_model.fit(X_train_scaled, y_train_heart)

obesity_model = RandomForestClassifier(n_estimators=300, random_state=42)
obesity_model.fit(X_train_scaled, y_train_obesity)

ldl_model = RandomForestClassifier(n_estimators=300, random_state=42)
ldl_model.fit(X_train_scaled, y_train_ldl)

hdl_model = RandomForestClassifier(n_estimators=300, random_state=42)
hdl_model.fit(X_train_scaled, y_train_hdl)'''

'from sklearn.ensemble import RandomForestClassifier\n\ndiabetes_model = RandomForestClassifier(n_estimators=300, random_state=42)\ndiabetes_model.fit(X_train_scaled, y_train_diabetes)\n\nhypertension_model = RandomForestClassifier(n_estimators=300, random_state=42)\nhypertension_model.fit(X_train_scaled, y_train_hypertension)\n\nchol_model = RandomForestClassifier(n_estimators=300, random_state=42)\nchol_model.fit(X_train_scaled, y_train_cholesterol)\n\nkidney_model = RandomForestClassifier(n_estimators=300, random_state=42)\nkidney_model.fit(X_train_scaled, y_train_kidney)\n\nheart_model = RandomForestClassifier(n_estimators=300, random_state=42)\nheart_model.fit(X_train_scaled, y_train_heart)\n\nobesity_model = RandomForestClassifier(n_estimators=300, random_state=42)\nobesity_model.fit(X_train_scaled, y_train_obesity)\n\nldl_model = RandomForestClassifier(n_estimators=300, random_state=42)\nldl_model.fit(X_train_scaled, y_train_ldl)\n\nhdl_model = RandomForestClassifier(n_estimators=300, random_state=42)\nhdl_model.fit(X_train_scaled, y_train_hdl)'

In [262]:
'''def give_recommendations(row):
    recos = []

    if row['diabetes_risk'] < 0.3:
        recos.append("Diabetes risk low: Maintain your current balanced diet and activity level.")
    elif row['diabetes_risk'] < 0.7:
        recos.append("Moderate diabetes risk: Reduce sugary foods, start 20–30 mins walking daily.")
    else:
        recos.append("High diabetes risk: Avoid refined carbs. Increase fiber. Check fasting glucose.")

    if row['hypertension_risk'] < 0.3:
        recos.append("BP risk low: Stay active and continue low-salt habits.")
    elif row['hypertension_risk'] < 0.7:
        recos.append("Moderate BP risk: Reduce packaged foods and monitor BP weekly.")
    else:
        recos.append("High BP risk: Follow DASH diet, limit salt <2g/day, avoid smoking/alcohol.")

    if row['cholesterol_risk'] < 0.3:
        recos.append("Cholesterol risk low: Maintain balanced fat intake.")
    elif row['cholesterol_risk'] < 0.7:
        recos.append("Moderate cholesterol risk: Add oats, nuts, and limit fried foods.")
    else:
        recos.append("High cholesterol risk: Avoid saturated/bad fats, increase omega-3 foods.")

    if row['kidney_risk'] < 0.3:
        recos.append("Kidney disease risk low: Stay hydrated and avoid unnecessary painkillers.")
    elif row['kidney_risk'] < 0.7:
        recos.append("Moderate kidney risk: Reduce salt and processed foods. Drink 2–3L water/day.")
    else:
        recos.append("High kidney risk: Limit protein, avoid high-sodium foods, check creatinine.")

    if row['BMI'] < 18.5:
        recos.append("Low BMI: Increase calorie-dense nutritious foods (nuts, dairy, protein).")
    elif row['BMI'] < 25:
        recos.append("Healthy BMI: Maintain regular exercise & balanced diet.")
    elif row['BMI'] < 30:
        recos.append("Overweight: Add 30 mins brisk walking. Reduce fast foods.")
    else:
        recos.append("Obese: Target 5-10% weight reduction with calorie control & daily walking.")

    if row['heart_disease_risk'] < 0.3:
         recos.append("Heart disease risk low: Maintain your current lifestyle habits.")
    elif row['heart_disease_risk'] < 0.7:
        recos.append("Moderate heart disease risk: Increase physical activity & follow heart-healthy diet.")
    else:
        recos.append("High heart disease risk: Reduce salt, saturated fats & get lipid profile checked.")


    return recos
'''

'def give_recommendations(row):\n    recos = []\n\n    if row[\'diabetes_risk\'] < 0.3:\n        recos.append("Diabetes risk low: Maintain your current balanced diet and activity level.")\n    elif row[\'diabetes_risk\'] < 0.7:\n        recos.append("Moderate diabetes risk: Reduce sugary foods, start 20–30 mins walking daily.")\n    else:\n        recos.append("High diabetes risk: Avoid refined carbs. Increase fiber. Check fasting glucose.")\n\n    if row[\'hypertension_risk\'] < 0.3:\n        recos.append("BP risk low: Stay active and continue low-salt habits.")\n    elif row[\'hypertension_risk\'] < 0.7:\n        recos.append("Moderate BP risk: Reduce packaged foods and monitor BP weekly.")\n    else:\n        recos.append("High BP risk: Follow DASH diet, limit salt <2g/day, avoid smoking/alcohol.")\n\n    if row[\'cholesterol_risk\'] < 0.3:\n        recos.append("Cholesterol risk low: Maintain balanced fat intake.")\n    elif row[\'cholesterol_risk\'] < 0.7:\n        recos.append("Moderate cholesterol risk: Add oats, nuts, and limit fried foods.")\n    else:\n        recos.append("High cholesterol risk: Avoid saturated/bad fats, increase omega-3 foods.")\n\n    if row[\'kidney_risk\'] < 0.3:\n        recos.append("Kidney disease risk low: Stay hydrated and avoid unnecessary painkillers.")\n    elif row[\'kidney_risk\'] < 0.7:\n        recos.append("Moderate kidney risk: Reduce salt and processed foods. Drink 2–3L water/day.")\n    else:\n        recos.append("High kidney risk: Limit protein, avoid high-sodium foods, check creatinine.")\n\n    if row[\'BMI\'] < 18.5:\n        recos.append("Low BMI: Increase calorie-dense nutritious foods (nuts, dairy, protein).")\n    elif row[\'BMI\'] < 25:\n        recos.append("Healthy BMI: Maintain regular exercise & balanced diet.")\n    elif row[\'BMI\'] < 30:\n        recos.append("Overweight: Add 30 mins brisk walking. Reduce fast foods.")\n    else:\n        recos.append("Obese: Target 5-10% weight reduction with calorie control & daily walking.")\n\n    if row[\'heart_disease_risk\'] < 0.3:\n         recos.append("Heart disease risk low: Maintain your current lifestyle habits.")\n    elif row[\'heart_disease_risk\'] < 0.7:\n        recos.append("Moderate heart disease risk: Increase physical activity & follow heart-healthy diet.")\n    else:\n        recos.append("High heart disease risk: Reduce salt, saturated fats & get lipid profile checked.")\n\n\n    return recos\n'

In [263]:
'''risk_diabetes      = diabetes_model.predict_proba(X_test_scaled)[:, 1]
risk_hypertension  = hypertension_model.predict_proba(X_test_scaled)[:, 1]
risk_cholesterol   = chol_model.predict_proba(X_test_scaled)[:, 1]
risk_kidney        = kidney_model.predict_proba(X_test_scaled)[:, 1]
risk_heart         = heart_model.predict_proba(X_test_scaled)[:, 1]
risk_obesity       = obesity_model.predict_proba(X_test_scaled)[:, 1]
risk_hdl      = hdl_model.predict_proba(X_test_scaled)[:, 1]
risk_ldl   = ldl_model.predict_proba(X_test_scaled)[:, 1]'''

'risk_diabetes      = diabetes_model.predict_proba(X_test_scaled)[:, 1]\nrisk_hypertension  = hypertension_model.predict_proba(X_test_scaled)[:, 1]\nrisk_cholesterol   = chol_model.predict_proba(X_test_scaled)[:, 1]\nrisk_kidney        = kidney_model.predict_proba(X_test_scaled)[:, 1]\nrisk_heart         = heart_model.predict_proba(X_test_scaled)[:, 1]\nrisk_obesity       = obesity_model.predict_proba(X_test_scaled)[:, 1]\nrisk_hdl      = hdl_model.predict_proba(X_test_scaled)[:, 1]\nrisk_ldl   = ldl_model.predict_proba(X_test_scaled)[:, 1]'

In [264]:
''''results = X_test.copy()'''

"'results = X_test.copy()"

In [265]:
'''results['diabetes_risk']     = risk_diabetes
results['hypertension_risk'] = risk_hypertension
results['cholesterol_risk']  = risk_cholesterol
results['kidney_risk']       = risk_kidney
results['obesity_risk'] = risk_obesity
results['hdl_risk'] = risk_hdl
results['ldl_risk'] = risk_ldl
results['heart_disease_risk'] =risk_heart'''

"results['diabetes_risk']     = risk_diabetes\nresults['hypertension_risk'] = risk_hypertension\nresults['cholesterol_risk']  = risk_cholesterol\nresults['kidney_risk']       = risk_kidney\nresults['obesity_risk'] = risk_obesity\nresults['hdl_risk'] = risk_hdl\nresults['ldl_risk'] = risk_ldl\nresults['heart_disease_risk'] =risk_heart"

In [266]:
'''results['Recommendations'] = results.apply(give_recommendations, axis=1)'''

"results['Recommendations'] = results.apply(give_recommendations, axis=1)"

In [267]:
'''results.head()'''

'results.head()'

In [268]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix

def evaluate_rf_model(model, X_test_scaled, y_test, risk_prob_col, model_name):
    
    y_pred = model.predict(X_test_scaled)
    
    
    y_prob = risk_prob_col
    
    print(f"----- {model_name} -----")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Precision:", precision_score(y_test, y_pred))
    print("Recall:", recall_score(y_test, y_pred))
    print("F1-score:", f1_score(y_test, y_pred))
    print("ROC-AUC:", roc_auc_score(y_test, y_prob))
    
    cm = confusion_matrix(y_test, y_pred)
    print("Confusion Matrix:\n", cm)
    print("\n")

evaluate_rf_model(models["diabetes"],      X_test_scaled_dict["diabetes"],      y_test_dict["diabetes"],      results['diabetes_risk'],      "Diabetes")
evaluate_rf_model(models["hypertension"],  X_test_scaled_dict["hypertension"],  y_test_dict["hypertension"],  results['hypertension_risk'],  "Hypertension")
evaluate_rf_model(models["cholesterol"],   X_test_scaled_dict["cholesterol"],   y_test_dict["cholesterol"],   results['cholesterol_risk'],   "Cholesterol")
evaluate_rf_model(models["kidney"],        X_test_scaled_dict["kidney"],        y_test_dict["kidney"],        results['kidney_risk'],        "Kidney")
evaluate_rf_model(models["heart"],         X_test_scaled_dict["heart"],         y_test_dict["heart"],         results['heart_risk'],         "Heart")
evaluate_rf_model(models["obesity"],       X_test_scaled_dict["obesity"],       y_test_dict["obesity"],       results['obesity_risk'],       "Obesity")
evaluate_rf_model(models["hdl"],           X_test_scaled_dict["hdl"],           y_test_dict["hdl"],           results['hdl_risk'],           "HDL")
evaluate_rf_model(models["ldl"],           X_test_scaled_dict["ldl"],           y_test_dict["ldl"],           results['ldl_risk'],           "LDL")

----- Diabetes -----
Accuracy: 0.9639097744360903
Precision: 0.0
Recall: 0.0
F1-score: 0.0
ROC-AUC: 0.9051467614260126
Confusion Matrix:
 [[1923    0]
 [  72    0]]


----- Hypertension -----
Accuracy: 0.906265664160401
Precision: 0.7222222222222222
Recall: 0.06666666666666667
F1-score: 0.12206572769953052
ROC-AUC: 0.9035655270655271
Confusion Matrix:
 [[1795    5]
 [ 182   13]]


----- Cholesterol -----
Accuracy: 0.8576441102756892
Precision: 0.8491620111731844
Recall: 0.37163814180929094
F1-score: 0.5170068027210885
ROC-AUC: 0.8906006715237544
Confusion Matrix:
 [[1559   27]
 [ 257  152]]

C:\Users\cheta\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1833: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", result.shape[0])

----- Kidney -----
Accuracy: 0.8932330827067669
Precision: 0.5833333333333334
Recall: 0.03255813953488372
F1-score: 0.06167400881057269
ROC-AUC: 0.7516070028743141
Confusion Matrix:
 [[1775    5]
 [ 208    7]]


----- Heart -----
Accuracy: 0.9699248120300752
Precision: 0.9781357882623706
Recall: 0.9539842873176206
F1-score: 0.9659090909090909
ROC-AUC: 0.9970330316042877
Confusion Matrix:
 [[1085   19]
 [  41  850]]


----- Obesity -----
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1-score: 1.0
ROC-AUC: 1.0
Confusion Matrix:
 [[1538    0]
 [   0  457]]


----- HDL -----
Accuracy: 0.8731829573934837
Precision: 0.4358974358974359
Recall: 0.06854838709677419
F1-score: 0.11846689895470383
ROC-AUC: 0.807189052200085
Confusion Matrix:
 [[1725   22]
 [ 231   17]]


----- LDL -----
Accuracy: 0.9533834586466166
Precision: 0.9
Recall: 0.3383458646616541
F1-score: 0.4918032786885246
ROC-AUC: 0.9813948135645235
Confusion Matrix:
 [[1857    5]
 [  88   45]]

In [269]:
'''columns_mean=[['Age','Weight']]
columns_median = [['Height','BMI','Systolic bp','Diastolic bp','Pulse','cholesterol','High cholesterol', 'Glucose', 'Low cholesterol','Albumin_creatinine_ratio','kcal','Protin','Carb','Fat','Cigerette_last_30_days']]
categorical_columns =[['Education','smoking status','Income','Gender']]

Preprocessor = ColumnTransformer(Transformers = ['mean_columns',SimpleImputer(strategy = 'mean'), columns_mean],
                                 ['median_columns',SimpleImputer(strategy = 'median'), columns_median],
                                 ['categorical_columns',SimpleImputer(strategy='most_frequent'), categorical_columns],
                                remainder = 'passthrough')'''

"columns_mean=[['Age','Weight']]\ncolumns_median = [['Height','BMI','Systolic bp','Diastolic bp','Pulse','cholesterol','High cholesterol', 'Glucose', 'Low cholesterol','Albumin_creatinine_ratio','kcal','Protin','Carb','Fat','Cigerette_last_30_days']]\ncategorical_columns =[['Education','smoking status','Income','Gender']]\n\nPreprocessor = ColumnTransformer(Transformers = ['mean_columns',SimpleImputer(strategy = 'mean'), columns_mean],\n                                 ['median_columns',SimpleImputer(strategy = 'median'), columns_median],\n                                 ['categorical_columns',SimpleImputer(strategy='most_frequent'), categorical_columns],\n                                remainder = 'passthrough')"

In [270]:
'''scaler = StandardScaler()
scaled_data = scaler.fit_transform(new_df[['Age', 'Weight',
       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',
       'High cholesterol', 'Glucose', 'Low cholesterol',
       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',
       'kcal', 'Protin', 'Carb', 'Fat']])
#preprocessed_final_data = pd.DataFrame(new_df,preprocessed_dat'''

"scaler = StandardScaler()\nscaled_data = scaler.fit_transform(new_df[['Age', 'Weight',\n       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',\n       'High cholesterol', 'Glucose', 'Low cholesterol',\n       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',\n       'kcal', 'Protin', 'Carb', 'Fat']])\n#preprocessed_final_data = pd.DataFrame(new_df,preprocessed_dat"

In [271]:
#scaled_data

In [272]:
'''scaled_data_df = pd.DataFrame(scaled_data,scaler.get_feature_names_out(['Age', 'Weight',
       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',
       'High cholesterol', 'Glucose', 'Low cholesterol',
       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',
       'kcal', 'Protin', 'Carb', 'Fat']))
new_df_reset = new_df.reset_index(drop=True)
scaled_data_df_reset = scaled_data_df.reset_index(drop=True)
final_data = pd.concat([new_df_reset.drop(columns=['Age', 'Weight',
       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',
       'High cholesterol', 'Glucose', 'Low cholesterol',
       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',
       'kcal', 'Protin', 'Carb', 'Fat']),scaled_data_df_reset],axis = 1)'''

"scaled_data_df = pd.DataFrame(scaled_data,scaler.get_feature_names_out(['Age', 'Weight',\n       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',\n       'High cholesterol', 'Glucose', 'Low cholesterol',\n       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',\n       'kcal', 'Protin', 'Carb', 'Fat']))\nnew_df_reset = new_df.reset_index(drop=True)\nscaled_data_df_reset = scaled_data_df.reset_index(drop=True)\nfinal_data = pd.concat([new_df_reset.drop(columns=['Age', 'Weight',\n       'Height', 'BMI', 'Systolic bp', 'Diastolic bp', 'Pulse', 'cholesterol',\n       'High cholesterol', 'Glucose', 'Low cholesterol',\n       'Albumin_creatinine_ratio', 'Cigerette_last_30_days',\n       'kcal', 'Protin', 'Carb', 'Fat']),scaled_data_df_reset],axis = 1)"

In [273]:
 
'''feature_names_list = ['Age', 'Weight', 'Height', 'BMI', 'Systolic bp', 'Diastolic bp',
                      'Pulse', 'cholesterol', 'High cholesterol', 'Glucose',
                      'Low cholesterol', 'Albumin_creatinine_ratio',
                      'Cigerette_last_30_days', 'kcal', 'Protin', 'Carb', 'Fat']

# --- FIX IS HERE ---
# 1. Create the scaled DataFrame correctly using explicit 'columns' and 'index' arguments.
scaled_data_df = pd.DataFrame(
    scaled_data,
    columns=feature_names_list,
    index=new_df.index # Align indices with the original DataFrame
)

# 2. Concatenate the dataframes
final_data = pd.concat(
    [new_df.drop(columns=feature_names_list), scaled_data_df],
    axis=1
)

# Print the result to confirm it worked
final_data.head()'''

"feature_names_list = ['Age', 'Weight', 'Height', 'BMI', 'Systolic bp', 'Diastolic bp',\n                      'Pulse', 'cholesterol', 'High cholesterol', 'Glucose',\n                      'Low cholesterol', 'Albumin_creatinine_ratio',\n                      'Cigerette_last_30_days', 'kcal', 'Protin', 'Carb', 'Fat']\n\n# --- FIX IS HERE ---\n# 1. Create the scaled DataFrame correctly using explicit 'columns' and 'index' arguments.\nscaled_data_df = pd.DataFrame(\n    scaled_data,\n    columns=feature_names_list,\n    index=new_df.index # Align indices with the original DataFrame\n)\n\n# 2. Concatenate the dataframes\nfinal_data = pd.concat(\n    [new_df.drop(columns=feature_names_list), scaled_data_df],\n    axis=1\n)\n\n# Print the result to confirm it worked\nfinal_data.head()"

In [274]:
input_values = {
    'Age': 50,
    'Gender': 1,
    'Ethnicity': 3,
    'Education': 4,
    'Income': 2,
    'Weight': 90,
    'Height': 170,
    'BMI': 31.2,
    'Systolic bp': 150,
    'Diastolic bp': 95,
    'Pulse': 88,
    'cholesterol': 230,
    'High cholesterol': 40,
    'Low cholesterol': 160,
    'Albumin_creatinine_ratio': 35,
    'Glucose': 140,
    'smoking status': 1,
    'Cigerette_last_30_days': 15,
    'kcal': 2400,
    'Protin': 55,
    'Carb': 270,
    'Fat': 95
}

In [275]:
import pandas as pd
input_df = pd.DataFrame([input_values])

In [276]:
'''input_df['risk_diabetes']      = model.predict_proba(input_df)[:,1]
input_df['risk_hypertension']  = model.predict_proba(input_df)[:,1]
input_df['risk_cholesterol']   = model.predict_proba(input_df)[:,1]
input_df['risk_kidney']        = model.predict_proba(input_df)[:,1]
input_df['risk_heart_disease'] = heart_model.predict_proba(input_df)[:,1]
input_df['risk_obesity']       = obesity_model.predict_proba(input_df)[:,1]'''

"input_df['risk_diabetes']      = model.predict_proba(input_df)[:,1]\ninput_df['risk_hypertension']  = model.predict_proba(input_df)[:,1]\ninput_df['risk_cholesterol']   = model.predict_proba(input_df)[:,1]\ninput_df['risk_kidney']        = model.predict_proba(input_df)[:,1]\ninput_df['risk_heart_disease'] = heart_model.predict_proba(input_df)[:,1]\ninput_df['risk_obesity']       = obesity_model.predict_proba(input_df)[:,1]"

In [277]:
# Check for data leakage in feature sets
print("Checking for data leakage in feature sets:")
for disease, features in X_dict.items():
    col_leak = [c for c in features if 'risk' in c.lower() or 'target' in c.lower()]
    if col_leak:
        print(f"  {disease}: {col_leak}")
    else:
        print(f"  {disease}: No leakage detected ✓")

Checking for data leakage in feature sets:
  diabetes: No leakage detected ✓
  hypertension: No leakage detected ✓
  cholesterol: No leakage detected ✓
  kidney: No leakage detected ✓
  obesity: No leakage detected ✓
  hdl: No leakage detected ✓
  ldl: No leakage detected ✓
  heart: No leakage detected ✓

In [278]:
# Print feature shapes for each disease (each has different features now)
print("Feature shapes for each disease:")
for disease in X_dict.keys():
    print(f"  {disease}: {X_dict[disease].shape}")
print(f"\nTarget shape: {y_dict['diabetes'].shape}")

Feature shapes for each disease:
  diabetes: (9971, 51)
  hypertension: (9971, 49)
  cholesterol: (9971, 50)
  kidney: (9971, 50)
  obesity: (9971, 51)
  hdl: (9971, 50)
  ldl: (9971, 50)
  heart: (9971, 49)

Target shape: (9971,)

In [279]:
from sklearn.metrics import accuracy_score

pred_train = models["diabetes"].predict(X_train_scaled_dict["diabetes"])
pred_test  = models["diabetes"].predict(X_test_scaled_dict["diabetes"])

print("Train accuracy:", accuracy_score(y_train_dict["diabetes"], pred_train))
print("Test accuracy:", accuracy_score(y_test_dict["diabetes"], pred_test))

Train accuracy: 1.0
Test accuracy: 0.9639097744360903

In [280]:
# Save models and preprocessors for Streamlit app
import pickle

# Save models
with open('models.pkl', 'wb') as f:
    pickle.dump(models, f)

# Save scalers
with open('scaler_dict.pkl', 'wb') as f:
    pickle.dump(scaler_dict, f)

# Save OneHotEncoder
with open('oe.pkl', 'wb') as f:
    pickle.dump(oe, f)

# Save feature lists for each disease
feature_lists = {disease: list(X_dict[disease].columns) for disease in X_dict.keys()}
with open('X_dict_features.pkl', 'wb') as f:
    pickle.dump(feature_lists, f)

# Save recommendation database
with open('recommendation_db.pkl', 'wb') as f:
    pickle.dump(recommendation_db, f)

print("✅ All models and preprocessors saved successfully!")
print("Files created:")
print("  - models.pkl")
print("  - scaler_dict.pkl")
print("  - oe.pkl")
print("  - X_dict_features.pkl")
print("  - recommendation_db.pkl")
print("\nYou can now run the Streamlit app with: streamlit run app.py")

✅ All models and preprocessors saved successfully!
Files created:
  - models.pkl
  - scaler_dict.pkl
  - oe.pkl
  - X_dict_features.pkl
  - recommendation_db.pkl

You can now run the Streamlit app with: streamlit run app.py